/* singlepage.module.css */

.infoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 64px;
  margin-bottom: 50px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
  border-radius: 8px;
}

.content {
  display: flex;
  gap: 50px;
  flex-direction: column; /* Stack content vertically on smaller screens */
}

.post {
  flex: 1; /* Ensure the post takes full width on small screens */
  margin-top: 60px;
}

.description {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  min-height: 100vh; /* Limit the maximum height and allow vertical scroll if exceeded */
  padding: 10px; /* Add padding for better readability */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.description p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.comment {
  margin-top: 20px;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }

  .description p {
    font-size: 18px;
  }

  .infoContainer {
    flex-direction: column;
    align-items: flex-start; /* Adjust alignment for better stacking */
    gap: 20px; /* Reduce gap on smaller screens */
  }

  .content {
    gap: 20px; /* Reduce gap on smaller screens */
  }
}

@media screen and (max-width: 390px) {
  .description {
    max-width: 80%; /* Limit the width of the description on smaller screens */
  }
}

/* Additional CSS for handling code snippets */
.code-container {
  max-width: 100%;
  overflow-x: auto;
}
