.container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.container:hover {
  transform: scale(1.02);
}

.imageContainer {
  width: 100%;
  height: 200px;
  position: relative;
}

.image {
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.textContainer {
  padding: 20px;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  gap: 10px;
  margin-bottom: 10px;
}

.date {
  color: gray;
  font-size: 14px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust gap as needed */
}

.category {
  background-color: #f0f0f0; /* Example background color */
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px; /* Example font size */
  color: #333; /* Example text color */
  text-decoration: none; /* Ensure no underline */
}

.category:hover {
  background-color: #e0e0e0; /* Example hover color */
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #333;
}

.description {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}

.link {
  color: crimson;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid crimson;
  padding-bottom: 2px;
  transition: color 0.3s, border-bottom-color 0.3s;
}

.link:hover {
  color: #b22222;
  border-bottom-color: #b22222;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .imageContainer {
    height: 200px;
  }

  .image {
    border-radius: 8px 8px 0 0;
  }

  .textContainer {
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .detail {
    flex-direction: column;
  }

  .category {
    margin-top: 10px;
  }
}

@media screen and (max-width: 640px) {
  .detail {
    flex-direction: column;
  }
  
  .category {
    margin-top: 10px;
  }
}
